# Python
__pycache__/
*.pyc
*.pyo
venv/
env/

# Generated certificates (usually not something you want to track in Git)
certificates/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
